/* 🌞 Tema claro */
:root {
  --bg-header: #1a1a1a;
  --bg-header-compress: #1a1a1aa7;
  --bg-main: #f0f2f5;
  --bg-footer: #dfe4ea;
  --card-bg: #ffffff;
  --card-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.271);
  --card-shadow-hover: 2px 2px 2px 2px rgba(0, 0, 0, 0.642);
  --text-title: #1e2a38;
  --text-body: #4a4a4a;
  --text-accent: #0078d4;
  --separator-outline: 1px solid rgba(0, 0, 0, 0.833);
  --bg-dot: #0078d4;
  --bg-icon: #0a2239;
  --bg-tooltip: #1e2a38;
  --text-tooltip: #ffffff;
  --text-title: rgb(0, 0, 0);
  --bg-title: rgb(255, 255, 255);
}

/* 🌑 Tema oscuro */
[data-theme="dark"] {
  --bg-header: #1a1a1a;
  --bg-header-compress: #6b6b6ba7;
  --bg-main: #121212;
  --bg-footer: #1e1e1e;
  --card-bg: #1f1f1f;
  --card-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.258);
  --card-shadow-hover: 2px 2px 2px 2px rgba(255, 255, 255, 0.642);
  --text-title: #79b8ff;
  --text-body: #e0e0e0;
  --text-accent: #00bcd4;
  --separator-outline: 1px solid rgba(255, 255, 255, 0.833);
  --bg-dot: #79b8ff;
  --bg-icon: #79b8ff;
  --bg-tooltip: #ffffff;
  --text-tooltip: #0a2239;
  --text-title: rgb(226, 225, 225);
  --bg-title: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

* {
  transition-duration: 0.2s;
}

body {
  margin: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template: 75px 1fr 75px / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";

  font-family: "Inter Tight", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#header {
  grid-area: header;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--bg-header);

  animation: compress-header linear both;
  animation-timeline: scroll(root);
  animation-range: 0 200px;
}

#main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  padding: 24px clamp(16px, 10%, 15%) 32px clamp(16px, 10%, 15%);
  background-color: var(--bg-main);
}

#footer {
  grid-area: footer;
  padding: 16px;
  margin: 0;
  background-color: var(--bg-footer);
  align-content: center;
}

footer {
  margin-top: 12px;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-content: space-between;
  justify-items: center;
  gap: 16px;
}

article {
  border-radius: 4px;
  width: 100%;
  height: auto;
  justify-items: center;
  padding: 12px;
  box-sizing: border-box;
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  transition: 0.2s linear;
  text-align: center;
}

article:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: var(--card-shadow-hover);
}

article header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
}

p,
em,
li,
small {
  color: var(--text-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-title);
}

strong {
  color: var(--text-accent);
}

#header a,
h1 {
  font-size: x-large;
  text-decoration: none;
  color: #ffffff;
}

#main a {
  font-size: large;
  text-decoration: none;
  color: var(--bg-icon);
}

iframe {
  border: none;
  width: 100%;
  box-shadow: var(--card-shadow);
  box-sizing: border-box;
}

.ul-2col {
  padding: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  justify-items: center;
  gap: 16px;
}

.ul-2col li {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  outline: var(--separator-outline);
  border-radius: 10px 0px 10px 0px;
  padding: 8px;
  align-content: center;
}

.ul-2col li:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: var(--card-shadow-hover);
}

#toggle-theme {
  display: grid;
  grid-template: 1fr / 1fr;
  background-color: transparent;
  border: none;
  font-size: x-large;
  cursor: pointer;
}

.tecnologies-container {
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  grid-auto-flow: row;
  font-size: small;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tecnologies-container li {
  width: auto;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--card-bg);
  box-shadow: var(--card-shadow);
  outline: var(--separator-outline);
  transition-duration: 400ms;

  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.tecnologies-container li:hover {
  transform: translateY(-5px);
  box-shadow: var(--card-shadow-hover);
}

.mail-button {
  text-decoration: none;
  background-color: var(--bg-main);
  color: var(--text-body);
  font-weight: 600;
  box-sizing: border-box;
  box-shadow: var(--card-shadow);
  padding: 6px 16px 6px 16px;
  border-radius: 5px;
  transition: 0.3s linear;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.mail-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px var(--text-body), 0 0 30px var(--text-body);
  color: var(--bg-main);
}

.mail-button::after {
  border-radius: 3px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-body);
  clip-path: circle(0% at 50% 50%);
  transition: 0.65s;
  z-index: -1;
}

.mail-button:hover::after {
  clip-path: circle(100% at 50% 50%);
}

.title {
  width: auto;
  height: auto;
  padding: 12px;
  position: relative;
  margin: 0;
  color: var(--bg-header);
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-title);
  clip-path: rect(10% 0% 90% 0%);
  transition: 0.65s;
  z-index: -1;
  box-sizing: border-box;
  animation: title-bg 0.5s both linear 0.25s;
}

.icon {
  width: 15px;
  height: 15px;
}

@media (width < 450px) {
  section {
    grid-template-columns: 1fr;
  }
}

@keyframes compress-header {
  to {
    background-color: var(--bg-header-compress);
    backdrop-filter: blur(8px);
  }
}

@keyframes title-bg {
  to {
    clip-path: rect(10% 100% 90% 0% round 5px);
  }
}

/* Tooltip */
[tooltip] {
  position: relative;
}
[tooltip]:before {
  content: "";
  display: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
[tooltip]:after {
  display: none;
  content: attr(tooltip);
  position: absolute;
  top: 35px;
  left: -35px;
  padding: 5px 8px;
  background: var(--bg-tooltip);
  color: var(--text-tooltip);
  z-index: 9;
  font-size: 0.75em;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}
[tooltip]:hover:before,
[tooltip]:hover:after {
  display: block;
}
